.productDisplay {
    font-family: futura;
    width: 80%;
    text-align: justify;
    color: darkslategray;    
}

.hidden {
    display: none;
}

.product_display {
    display: flex;
    border-bottom: solid 1px lightgray;
}

.product_display img {
    height: 250px;
    width: 150px;
    object-fit: contain;
    padding: 20px;
}

.product_info {
    align-self: center;
    margin-left: 10px;
}

.category {
    display: inline-block;
    border: solid 1px darkslategray;;
    padding: 5px;
    margin-right: 10px;
    border-radius:5px;
}

.moreInfo {
    font-family: serif;
}

.moreInfo > h3 {
    background-color: slategray;
    margin: 0;
    padding: 20px;
    color: white;
}

.review {
    padding: 20px;
    color: darkslategray;
    border-bottom: solid 1px darkslategray;
}

.review h3 {
    font-size: 1.4em;
    text-decoration: underline;
    margin: 0;
}

.review p {
    margin-top: 5px;
}

